*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: white;
}

nav{
    padding-top: 20px
}

.titleWeb{
    display: flex;
    color: #0a3871;
    font-family:'Inter', sans-serif;
    text-align: left;
    align-items: center
}

.container{
    display: flex;
    height: 78vh
}

textarea::placeholder {
    color: #0a3871;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    padding-top: 30px;
    padding-left: 0;
    text-align: left
}

textarea {
    height: 550px;
    width: 570px;
    overflow-wrap: break-word;
    font-family: 'Inter',sans-serif;
    font-size: 50px !important;
    letter-spacing: 0em;
    resize: none;
    padding-left: 70px;
    line-height: 1.5
}

.center-text{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 10rem
}

.box{
    margin-top: 20px;
    height: 440px; /*recien cambie*/
    line-height: 1.5;
    margin-left: 2px;
    border: none;
    outline: none;
    vertical-align: top;
    color: #0a3871;
    font-size: 20px
}

.messageBox {
    display: flex;
    align-items: flex-end;
    margin-left: 71px;
    margin-top: -50px;
    font-family: 'Inter',sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057
}

.exclamation{
margin-top: 15px;
margin-left: 100px
}

.boxDecrypt{
display: none;

.screen-info{
    display: none
}
}

.buttonCopy{
    display: flex;
    justify-content: center; /* Distribuye los elementos a lo largo del contenedor */
   align-items: center;
   margin-bottom: 10px
}

.buttons{
    display: flex
}

.Encriptar {
    margin-top: 15px;
    width: 200px;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: 'Inter',sans-serif;
    color: white;
    background-color: #0a3871;
    border-radius: 8px;
    margin-right: 25px;
    margin-left: 75px !important 
}

.desencriptar {
    width: 200px;
    height: 40px;
    margin-top: 15px;
    font-family: 'Inter',sans-serif;
    color: #0a3871;
    border-radius: 8px;
    border-color: #0a3871;
    align-items: center;
    justify-content: center
}


.copiar{
    width: 200px;
    height: 40px;
    margin-bottom: 2px;
    background-color: white;
    font-family: 'Inter',sans-serif;
    color: #0a3871;
    border-radius: 8px;
    align-items: center;
    justify-content:center

}

.screen-info{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 99px;
    margin-bottom: 7px
}

.screen-info h2{
    width: 323px;
    font-family: 'Inter',sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center
}

.screen-info p {
    font-family: 'Inter',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
    margin-bottom: 200px
}

.container-info{
display: flex;
flex-direction: column;
justify-content: center;
align-items: baseline
}

.footer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Inter',sans-serif;
    justify-content: center;
    background-color: white;
    height: 60px
}

.footer p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: right;
    color: #0a3871;
    font-size:20px;
    font-weight: bold
}

.redesSociales{
    display: flex;
    justify-content: center;
    align-items: center
}

@media screen and (max-width: 1367px) {
    *{
        margin-left: 10px;
    }

    body{
        width: 750px
    }

    nav{
        width: 750px
    }

    .titleWeb {
        display: flex;
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        text-align: left;
        align-items: center;
        width: 750px
    }

    .container {
        display: flex;
        height: 78vh;
        flex-direction: column;
        width: 750px
    }

    .screen-info img {
        display: none
    }

    .footer {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Inter',sans-serif;
        justify-content: center;
        background-color: white;
        height: 60px;
        width: 750px
    }
}

@media screen and (max-width: 1025px) {

    .body{
        width: 400px
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 90vh;
        margin-left: auto
        
    }

    .exclamation {
        margin-top: 15px;
        margin-left: 101px
    }

    textarea::placeholder {
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        line-height: 1.2;
        padding-top: 30px;
        padding-left: 0;
        text-align: center
    }

    textarea{
        width: 500px;
        overflow-wrap: break-word;
        font-family: 'Inter',sans-serif;
        font-size: 50px !important;
        letter-spacing: 0em;
        resize: none;
        padding-left: 15px
    }
    
    .container-info {
         display: flex;
         width: 89vw;
         margin-top: 38px;
         margin-left: 41px
     }
    
     .screen-info img {
         display: none
     }

     .messageBox{
        margin-left: 5px
     }

     .buttons{
        margin-left: 39px
     }

     .screen-info {
        display: flex;
        width: 559px;
        flex-direction: column;
        margin-top: 45px;
        margin-left: 68px
    }

    .footer {
        margin-top: 155px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Inter',sans-serif;
        justify-content: center;
        background-color: white;
        height: 60px
    }
}

@media screen and (max-width: 791px) {

    .container {
        display: flex;
        flex-direction: column;
        margin-left: -67px
    }

    .buttons {
        margin-left: 39px;
        width: 500px
    }

    .footer p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        float: right;
        color: #0a3871;
        font-size: 20px;
        font-weight: bold;
        width: 500px
    }

    .redesSociales {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:-121px
    }
}

@media screen and (max-width: 770px) {

*{
    margin-left: 20px;
}

.footer {
    margin-top: 155px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Inter',sans-serif;
    justify-content: flex-end;
    background-color: white;
    height:200px
}

.redesSociales{
    display: flex;
        justify-content: center;
        align-items: center;
        margin-right:141px
}

.messageBox {
    padding-left: 71px
}
}


@media screen and (max-width: 757px) {

    .footer p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        float: right;
        color: #0a3871;
        font-size: 20px;
        font-weight: bold;
        width: 500px;
        margin-left: 95px
    }

    .redesSociales {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:-121px
    }
}


@media screen and (max-width: 541px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-left: -124px;
    }

    .container-info {
        display: flex;
        width: 89vw;
        margin-top: 38px;
        margin-left: 23px
    }

    .messageBox{
        margin-left: 5px;
        width: 460px
     }

     textarea::placeholder {
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        font-size: 35px;
        line-height: 1.2;
        padding-top: 30px;
        padding-left: 0;
        text-align: center
    }

    textarea {
        width: 570px;
        overflow-wrap: break-word;
        font-family: 'Inter',sans-serif;
        font-size: 30px !important;
        letter-spacing: 0em;
        resize: none;
        padding-left: 15px;
    }

    .screen-info {
        display: flex;
        width: 534px;
        flex-direction: column;
        margin-top: 45px;
        margin-left: 68px;
        height: 300px;
    }

    .Encriptar {
        margin-left: 66px !important;
        width: 200px;
    }

    .buttonCopy {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }


    .footer{
        display: flex;
        width: 489px;
        padding-top: 100px;
        justify-content: flex-end;
        height: 200px
    }
    
    .footer p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        float: right;
        color: #0a3871;
        font-size: 20px;
        font-weight: bold;
        width: 500px;
        margin-left: 63px;
        
    }

    .redesSociales{
        margin-left: -55px;
    }
}

@media screen and (max-width: 496px) {
html{
    width: 400px;
}
    * {
        margin-left: 15px;
    }

    body {
        width: 400px
    }

    nav {
        width: 400px;
    }

    .titleWeb {
        display: flex;
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        text-align: left;
        align-items: center;
        width: 370px
    }

    .titleWeb h1{
        width: 3500px;
    }

    .logo{
        margin-left: -80px
    }

    .box {
        margin-top: 20px;
        height: 440px;
        line-height: 1.5;
        margin-left: 0px;
        border: none;
        outline: none;
        vertical-align: top;
        color: #0a3871;
        font-size: 20px
    }

    .center-text {
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-right: 0;
        width: 450px
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-left: auto;
        width: 450px;
    }

    .container-info{
        display: flex;
        width: -20vw;
        margin-top: 38px;
        margin-left: -39px;
    }

    textarea::placeholder {
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        line-height: 1.2;
        padding-top: 30px;
        padding-left: 0;
        text-align: center
    }

    .exclamation {
        margin-top: 15px;
        margin-left: -9px
    }

    .screen-info {
        display: flex;
        width: 400px;
        flex-direction: column;
        margin-top: 45px;
        margin-left: 17px;
        height: 300px;
    }

    .messageBox{
        margin-left: 5px;
        width: 384px
     }

     .buttons{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center
     }

     .Encriptar {
        margin-right: 58px;
        width: 302px;
        height: 72px
    }

    .desencriptar{
        width: 302px;
        height: 72px
    }

     .footer {
        display: flex;
        width: 400px;
        padding-top: 100px;
        justify-content: flex-end;
        height: 200px;
        margin-left: 60px
    }

    .footer p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        float: right;
        color: #0a3871;
        font-size: 20px;
        font-weight: bold;
        width: 400px;
        margin-left: -103px;
    }
}

@media screen and (max-width: 485px) {
    nav {
        padding-top: 20px;
        margin-left: -29px;
        width: 500px
    }

    .titleWeb{
        display: flex;
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        text-align: left;
        align-items: center;
        width: 450px    
    }

    .screen-info {
        display: flex;
        width: 600px;
        flex-direction: column;
        margin-top: 52px;
        margin-left: -50px;
        height: 350px
    }
    
    .body{
        width: 542px
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 122vh;
        margin-left: auto;
        width: 542px
    }

    .box{
    margin-top: 20px;
    height: 440px;
    width: 352px;
    margin-left: 145px;
    line-height: 1.5;
    border: none;
    outline: none;
    vertical-align: top;
    color: #0a3871;
    font-size: 20px
    }

    .exclamation {
        margin-top: 15px;
        margin-left: -119px
    }

    textarea::placeholder {
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        line-height: 1.2;
        padding-top: 30px;
        padding-left: 0;
        text-align: center
    }

    textarea{
        width: 470px;
        overflow-wrap: break-word;
        font-family: 'Inter',sans-serif;
        font-size: 45px !important;
        letter-spacing: 0em;
        resize: none;
        padding-left: 0px
    }
    
    .container-info {
         display: flex;
         width: 89vw;
         margin-top: 38px;
         margin-left: -82px
     }
    
     .screen-info img {
         display: none
     }

     .messageBox{
        margin-left: 5px;
        width: 428px
     }

     .Encriptar{
        margin-left: -16px;
        width: 302px;
        height: 72px
    }

    .desencriptar{
        width: 302px;
        height: 72px
    }

     .buttons{
        margin-left: 0;
        display: contents
     }

     .buttonCopy {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 43px
    }

     .screen-info {
        display: flex;
        width: 600px;
        flex-direction: column;
        margin-top: 52px;
        margin-left: -86px
    }

    .screen-info h2{
        margin-bottom: -63px
    }

    .screen-info p{
        padding-top: 75px;
        margin-bottom: 101px
    }

    .footer{
        margin-top: 88px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Inter',sans-serif;
        justify-content: center;
        background-color: white;
        height: 100px
    }

    .redesSociales {
        margin-left: 47px
    }
}

@media screen and (max-width: 433px) {
    * {
            font-size: 20px;
        }
    
        body {
            width: 300px
        }
    
        nav {
            padding-top: 20px;
            margin-left: -29px;
            width: 300px
        }
    
        .titleWeb {
            width: 350px
        }

        .logo{
            margin-left: -30px
        }
    
        .screen-info {
            display: flex;
            width: 443px;
            flex-direction: column;
            margin-top: 52px;
            margin-left: -63px;
            height: 300px
        }
    
        .body {
            width: 400px
        }
    
        .container {
            display: flex;
            flex-direction: column;
            height: 90vh;
            margin-left: auto;
            width: 388px;
        }
    
        .box {
            margin-top: 20px;
            height: 440px;
            width: 263px;
            /* margin-left: 130px; */
            line-height: 1.5;
            border: none;
            outline: none;
            vertical-align: top;
            color: #0a3871;
            font-size: 20px
        }
    
        .exclamation {
            margin-top: 15px;
            margin-left: -121px
        }
    
        textarea::placeholder {
            color: #0a3871;
            font-family: 'Inter', sans-serif;
            font-size: 25px;
            line-height: 1.2;
            padding-top: 30px;
            padding-left: 12px;
            text-align: center
        }
    
        textarea {
            width: 300px;
            overflow-wrap: break-word;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            letter-spacing: 0em;
            resize: none;
            padding-left: 0px
        }
    
        .container-info {
            display: flex;
            width: 89vw;
            margin-top: 38px;
            /*  margin-left: -82px */
        }
    
        .screen-info img {
            display: none
        }
    
        .messageBox {
            margin-left: 0;
            width: 310px;
        }
    
        .messageBox h5 {
            font-size: 15px
        }

         .Encriptar {
             margin-left: -52px;
             width: 300px
         }
    
         .buttons {
             margin-left: 0;
             display: contents
         }

         .buttonCopy {
             display: flex;
             justify-content: center;
             align-items: center;
             margin-bottom: 10px;
             margin-right: 125px
         }

         .screen-info {
             display: flex;
             width: 600px;
             flex-direction: column;
             margin-top: 52px;
             margin-left: -86px
         }
    
         .screen-info h2 {
             margin-bottom: -63px;
             margin-right: 68px
         }
    
         .screen-info p {
             padding-top: 75px;
             margin-bottom: 101px;
             margin-right: 62px
         }
    
         .footer {
             margin-top: 88px;
             display: flex;
             flex-direction: column;
             text-align: center;
             align-items: center;
             font-family: 'Inter', sans-serif;
             justify-content: center;
             background-color: white;
             height: 100px
         }

         .footer p {
             display: flex;
             justify-content: flex-start;
             align-items: center;
             float: right;
             font-weight: bold;
             width: 500px;
             margin-left: -33px
         }
}

@media screen and (max-width: 420px) {

    body {
        width:413px
    }
    nav {
        padding-top: 20px;
        margin-left: -29px;
        width: 0px;
    }
    .titleWeb {
        display: flex;
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        text-align: left;
        align-items: center;
        width: 500px;
        margin-left: -41px;
        font-size: 30px
    }
    
    .logo{
        width: 83px;
        margin-left: 41px
    }
    .body{
        width: 400px;
        min-height: 100vh
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 110vh;
        width: 470px;
        padding-bottom: 50px
    }

    .box{
    margin-top: 20px;
    height: 440px;
    width: 445px !important;
    border: solid orange;
    margin-left: 58px;
    line-height: 1.5;
    border: none;
    outline: none;
    vertical-align: top;
    color: #0a3871;
    font-size: 15px
    }

    .exclamation {
        margin-top: 15px;
        margin-left:22px
    }

    .buttonCopy{
        margin-left: 167px
    }

    textarea::placeholder {
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        padding-top: 30px;
        padding-left: 0;
        margin-right: 35px;
        text-align: center
    }

    textarea{
        width: 570px;
        overflow-wrap: break-word;
        font-family: 'Inter',sans-serif;
        font-size: 45px !important;
        letter-spacing: 0em;
        resize: none;
        padding-left: 0px
    }
    
    .container-info {
         display: flex;
         width: 126vw;
         margin-top: 38px;
         margin-left: -42px
     }
    
     .screen-info img {
         display: none
     }

     .messageBox{
        margin-left: 0;
        width: 376px;
        padding-left: 0px;
     }

     .Encriptar{
        margin-left: -16px;
        width: 300px
     }

     .buttons{
        margin-left: 0;
        padding-left: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 385px
     }

     .screen-info {
        display: flex;
        width: 507px;
        flex-direction: column;
        margin-top: 52px;
        margin-left: -60px
    }

    .screen-info h2{
        margin-bottom: -63px;
        margin-left: 130px
    }

    .screen-info p{
        padding-top: 75px;
        margin-bottom: 101px;
        margin-left: 125px;
        font-size: 17px
    }

    .footer{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Inter',sans-serif;
        justify-content: center;
        background-color: white;
        height: 10px;
        width: 413px;
        margin-left: 105px
    }

    .redesSociales {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 47px
    }
}

@media screen and(max-width:413px) {
    body {
        width:413px
    }
    nav {
        padding-top: 20px;
        margin-left: -29px;
        width: 0px;
    }
    .titleWeb {
        display: flex;
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        text-align: left;
        align-items: center;
        width: 432px;
        margin-left: -41px;
        font-size: 20px
    }
    
    .logo{
        width: 83px;
        margin-left: 17px
    }
    .body{
        width: 400px;
        min-height: 100vh
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 140vh;
        width: 547px;
        padding-bottom: 127px
    }

    .box{
    margin-top: 20px;
    height: 440px;
    width: 373px !important;
    border: solid orange;
    margin-left: 58px;
    line-height: 1.5;
    border: none;
    outline: none;
    vertical-align: top;
    color: #0a3871;
    font-size: 15px
    }

    .exclamation {
        margin-top: 15px;
        margin-left: -56px
    }

    .buttonCopy{
        margin-left: 107px
    }

    textarea::placeholder {
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        padding-top: 30px;
        padding-left: 0;
        margin-right: 35px;
        text-align: center
    }

    textarea{
        width: 570px;
        overflow-wrap: break-word;
        font-family: 'Inter',sans-serif;
        font-size: 45px !important;
        letter-spacing: 0em;
        resize: none;
        padding-left: 0px
    }
    
    .container-info {
         display: flex;
         width: 89vw;
         margin-top: 38px;
         margin-left: -42px
     }
    
     .screen-info img {
         display: none
     }

     .messageBox{
        margin-left: 5px !important;
        width: 376px;
        padding-left: 0px;
     }

     .Encriptar{
        margin-left: -16px !important;
        width: 300px
     }

     .buttons{
        margin-left: 0;
        padding-left: 12px
     }

     .screen-info {
        display: flex;
        width: 507px;
        flex-direction: column;
        margin-top: 52px;
        margin-left: -85px
    }

    .screen-info h2{
        margin-bottom: -63px;
        margin-left: 130px
    }

    .screen-info p{
        padding-top: 75px;
        margin-bottom: 101px;
        margin-left: 125px
    }

    .footer{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Inter',sans-serif;
        justify-content: center;
        background-color: white;
        height: 10px;
        width: 553px
    }

    .redesSociales {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 47px
    }
}

@media screen and (max-width: 376px) {

    body {
        width:413px
    }
    nav {
        padding-top: 20px;
        margin-left: -29px;
        width: 0px;
    }
    .titleWeb {
        display: flex;
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        text-align: left;
        align-items: center;
        width: 573px;
        margin-left: -41px;
        font-size: 20px
    }
    
    .logo{
        width: 83px;
        margin-left: 40px
    }
    .body{
        width: 400px;
        min-height: 100vh
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 140vh;
        width: 410px;
        padding-bottom: 127px;
        margin-left: -15px
    }

    .box{
    margin-top: 20px;
    height: 440px;
    width: 373px;
    border: solid orange;
    margin-left: 58px;
    line-height: 1.5;
    border: none;
    outline: none;
    vertical-align: top;
    color: #0a3871;
    font-size: 15px
    }

    .exclamation {
        margin-top: 15px;
        margin-left: -4px
    }

    .buttonCopy{
        margin-left: 107px
    }

    textarea::placeholder {
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        padding-top: 30px;
        padding-left: 0;
        margin-right: 15px;
        text-align: center
    }

    textarea{
        width: 570px;
        overflow-wrap: break-word;
        font-family: 'Inter',sans-serif;
        font-size: 45px !important;
        letter-spacing: 0em;
        resize: none;
        padding-left: 0px
    }
    
    .container-info {
         display: flex;
         width: 89vw;
         margin-top: 38px;
         margin-left: -42px
     }
    
     .screen-info img {
         display: none
     }

     .messageBox{
        margin-left: 5px !important;
        width: 376px;
        padding-left: 0px;
     }

     .Encriptar{
        margin-left: 66px !important;
        width: 300px
     }

     .buttons{
        margin-left: 0;
        padding-left: 12px;
        width: 312px
     }

     .screen-info {
        display: flex;
        width: 415px;
        flex-direction: column;
        margin-top: 52px;
        margin-left: -54px
    }

    .screen-info h2{
        margin-bottom: -63px;
        margin-left: 130px
    }

    .screen-info p{
        padding-top: 75px;
        margin-bottom: 101px;
        margin-left: 125px
    }

    .footer{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Inter',sans-serif;
        justify-content: center;
        background-color: white;
        height: 20px;
        width: 300px;
        margin-left: 10px
    }

    .footer p{
        display: flex;
       justify-content: flex-start;
       align-items: center;
       float: right;
       font-weight: bold;
       width: 300px;
       margin-left: -33px
    }

    .redesSociales {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 76px
    }

}

@media screen and(max-width: 325px) {

    nav{
        padding-top: 20px;
        margin-left: -98px;
        margin-right: 0px;
        width: 20px
    }

    .titleWeb{
    display: flex;
    color: #0a3871;
    font-family: 'Inter', sans-serif;
    text-align: left;
    align-items: center;
    width: 432px;
    margin-left: -41px;
    font-size: 20px
    }

     .container {
        display: flex;
        flex-direction: column;
        height: 120vh
    }

    .footer {
        margin-top: 159px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Inter',sans-serif;
        justify-content: center;
        background-color: white;
        height: 100px;
        padding-top: 83px
}
 
    *{
        font-size: 20px;
        display: flex;
       flex-direction: column;
       align-content: center;
       justify-content: center;
      align-items: center
    }

    body{
        width: 320px !important
    }

    textarea::placeholder{
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        line-height: 1.2;
        padding-top: 30px;
        padding-left: 0;
        text-align: center
    }
    
    textarea{
        width: 400px;
        overflow-wrap: break-word;
        font-family: 'Inter',sans-serif;
        font-size: 45px !important;
        letter-spacing: 0em;
        resize: none;
        padding-left: 0px
    }
    .center-text{
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-right: 2rem
    }

    .box {
        margin-top: 20px;
        height: 440px;
        width: 285px;
        margin-left: 96px;
        line-height: 1.5;
        border: none;
        outline: none;
        vertical-align: top;
        color: #0a3871;
        font-size: 20px
    }

    .messageBox {
        margin-left: 0px;
        width: 428px
    }

    .buttons {
        margin-left: 0;
        width: 304px
    }

    .exclamation {
        margin-top: 15px;
        margin-left: -34px
    }

    .Encriptar {
        margin-left: 6px !important;
        width: 213px
    }

    .screen-info {
        display: flex;
        width: 496px;
        flex-direction: column;
        margin-top: 52px;
        margin-left: -68px
    }

    .footer {
        margin-top: 245px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Inter',sans-serif;
        justify-content: flex-end;
        background-color: white;
        height: 20vh;
        padding-top: 140px
    }

        .footer p {
            width: 396px;
            margin-left: 0px
        }

    .redesSociales{
        margin-right: 45px
    }
}
